{
    "jsc": {
        "transform": {
            "react": { "runtime": "automatic" }
        },
        "parser": {
            "syntax": "typescript",
            "tsx": true
        },
        "externalHelpers": true
    },
    "env": {
        "mode": "usage",
        "coreJs": "3.50"
    },
    "minify": true
}
