:root {
    /* Light palette */
    --source-light-background: #ffffff;
    --source-light-gray-50: oklch(98.7% 0.0018 243.919);
    --source-light-gray-100: oklch(97% 0.0027 260.622);
    --source-light-gray-200: oklch(93.5% 0.0054 260.611);
    --source-light-gray-300: oklch(88.5% 0.0091 254.418);
    --source-light-gray-400: oklch(73.7% 0.02 257.405);
    --source-light-gray-500: oklch(59.7% 0.0246 260.444);
    --source-light-gray-600: oklch(48.3% 0.0273 252.882);
    --source-light-gray-700: oklch(40.4% 0.031 255.813);
    --source-light-gray-800: oklch(30.1% 0.0301 252.928);
    --source-light-gray-900: oklch(22.7% 0.031 260.745);
    --source-light-gray-950: oklch(14.1% 0.0255 257.772);
    --source-light-gray-opacity-50: oklch(13% 0.028 261.692 / 2%);
    --source-light-gray-opacity-100: oklch(13% 0.028 261.692 / 5%);
    --source-light-gray-opacity-200: oklch(13% 0.028 261.692 / 10%);
    --source-light-gray-opacity-300: oklch(13% 0.028 261.692 / 18%);
    --source-light-gray-opacity-400: oklch(13% 0.028 261.692 / 31%);
    --source-light-gray-opacity-500: oklch(13% 0.028 261.692 / 46%);
    --source-light-gray-opacity-600: oklch(13% 0.028 261.692 / 58%);
    --source-light-gray-opacity-700: oklch(13% 0.028 261.692 / 70%);
    --source-light-gray-opacity-800: oklch(13% 0.028 261.692 / 80%);
    --source-light-gray-opacity-900: oklch(13% 0.028 261.692 / 91%);
    --source-light-gray-opacity-950: oklch(13% 0.028 261.692);
    --source-light-blue-50: oklch(97.2% 0.0135 250.383);
    --source-light-blue-100: oklch(93.9% 0.0298 251.836);
    --source-light-blue-200: oklch(88.6% 0.0568 253.048);
    --source-light-blue-300: oklch(80.3% 0.101 254.433);
    --source-light-blue-400: oklch(71.3% 0.1513 256.29);
    --source-light-blue-500: oklch(64.1% 0.1934 258.198);
    --source-light-blue-600: oklch(55.8% 0.2173 259.097);
    --source-light-blue-700: oklch(48.3% 0.1947 259.786);
    --source-light-blue-800: oklch(40.5% 0.1686 260.373);
    --source-light-blue-900: oklch(34.3% 0.1391 260.761);
    --source-light-blue-950: oklch(24.7% 0.0697 261.523);
    --source-light-red-50: oklch(97.4% 0.0126 17.478);
    --source-light-red-100: oklch(94% 0.0302 15.44);
    --source-light-red-200: oklch(88.6% 0.0604 15.033);
    --source-light-red-300: oklch(80.4% 0.1125 16.112);
    --source-light-red-400: oklch(71.9% 0.1761 18.26);
    --source-light-red-500: oklch(65.4% 0.2328 21.045);
    --source-light-red-600: oklch(57.7% 0.2328 22.883);
    --source-light-red-700: oklch(50.8% 0.2052 23.674);
    --source-light-red-800: oklch(43.4% 0.1754 23.853);
    --source-light-red-900: oklch(37.2% 0.1503 23.795);
    --source-light-red-950: oklch(28% 0.0846 23.372);
    --source-light-yellow-50: oklch(99% 0.012 93);
    --source-light-yellow-100: oklch(98% 0.025 92);
    --source-light-yellow-200: oklch(96% 0.050 91);
    --source-light-yellow-300: oklch(93% 0.085 89);
    --source-light-yellow-400: oklch(89% 0.125 86);
    --source-light-yellow-500: oklch(85.0% 0.1539 82.465);
    --source-light-yellow-600: oklch(75% 0.150 80);
    --source-light-yellow-700: oklch(64% 0.140 78);
    --source-light-yellow-800: oklch(54% 0.125 77);
    --source-light-yellow-900: oklch(44% 0.105 76);
    --source-light-yellow-950: oklch(30% 0.075 74);
    --source-light-green-50: oklch(97.7% 0.0093 170.275);
    --source-light-green-100: oklch(94.9% 0.0286 169.006);
    --source-light-green-200: oklch(90.7% 0.0661 168.046);
    --source-light-green-300: oklch(83.8% 0.1212 165.016);
    --source-light-green-400: oklch(75.1% 0.1601 159.938);
    --source-light-green-500: oklch(67.3% 0.1608 156.782);
    --source-light-green-600: oklch(59.7% 0.1334 156.835);
    --source-light-green-700: oklch(52.9% 0.1123 156.935);
    --source-light-green-800: oklch(45.7% 0.0922 157.086);
    --source-light-green-900: oklch(39.6% 0.0765 157.24);
    --source-light-green-950: oklch(29.1% 0.0517 157.777);

    /* Dark palette */
    --source-dark-background: oklch(21% 0.006 285.885);
    --source-dark-gray-50: oklch(24.7% 0.0153 292.887);
    --source-dark-gray-100: oklch(29.7% 0.0188 292.867);
    --source-dark-gray-200: oklch(36.1% 0.0219 292.911);
    --source-dark-gray-300: oklch(42.5% 0.0229 293.025);
    --source-dark-gray-400: oklch(50.1% 0.0201 293.252);
    --source-dark-gray-500: oklch(59.7% 0.0157 293.477);
    --source-dark-gray-600: oklch(68.1% 0.0112 293.631);
    --source-dark-gray-700: oklch(77.2% 0.007 293.75);
    --source-dark-gray-800: oklch(85.9% 0.0036 293.829);
    --source-dark-gray-900: oklch(93.5% 0.0013 326.569);
    --source-dark-gray-950: oklch(100% 0 97.371);
    --source-dark-gray-opacity-50: oklch(98.5% 0.002 247.839 / 5%);
    --source-dark-gray-opacity-100: oklch(98.5% 0.002 247.839 / 11%);
    --source-dark-gray-opacity-200: oklch(98.5% 0.002 247.839 / 19%);
    --source-dark-gray-opacity-300: oklch(98.5% 0.002 247.839 / 27%);
    --source-dark-gray-opacity-400: oklch(98.5% 0.002 247.839 / 36%);
    --source-dark-gray-opacity-500: oklch(98.5% 0.002 247.839 / 47%);
    --source-dark-gray-opacity-600: oklch(98.5% 0.002 247.839 / 60%);
    --source-dark-gray-opacity-700: oklch(98.5% 0.002 247.839 / 75%);
    --source-dark-gray-opacity-800: oklch(98.5% 0.002 247.839 / 89%);
    --source-dark-gray-opacity-900: oklch(98.5% 0.002 247.839 / 96%);
    --source-dark-gray-opacity-950: oklch(98.5% 0.002 247.839);
    --source-dark-blue-50: oklch(29% 0.0811 267.494);
    --source-dark-blue-100: oklch(35.6% 0.1115 264.578);
    --source-dark-blue-200: oklch(41.6% 0.1346 262.492);
    --source-dark-blue-300: oklch(48% 0.1541 260.755);
    --source-dark-blue-400: oklch(57.2% 0.1753 258.734);
    --source-dark-blue-500: oklch(65.1% 0.1873 258.266);
    --source-dark-blue-600: oklch(71.8% 0.1491 254.967);
    --source-dark-blue-700: oklch(79.8% 0.1053 250.982);
    --source-dark-blue-800: oklch(85.5% 0.0753 247.673);
    --source-dark-blue-900: oklch(91.1% 0.0467 243.528);
    --source-dark-blue-950: oklch(97.3% 0.0126 241.357);
    --source-dark-red-50: oklch(26.9% 0.0726 20.175);
    --source-dark-red-100: oklch(33.2% 0.1224 17.42);
    --source-dark-red-200: oklch(39.6% 0.1552 18.614);
    --source-dark-red-300: oklch(46.4% 0.1852 20.261);
    --source-dark-red-400: oklch(56.4% 0.2189 21.633);
    --source-dark-red-500: oklch(65.2% 0.2346 20.984);
    --source-dark-red-600: oklch(71.4% 0.1798 19.556);
    --source-dark-red-700: oklch(79.2% 0.1205 17.503);
    --source-dark-red-800: oklch(84.9% 0.0828 16.317);
    --source-dark-red-900: oklch(90.6% 0.0488 15.848);
    --source-dark-red-950: oklch(97.2% 0.0135 15.22);
    --source-dark-yellow-50: oklch(28% 0.060 70);
    --source-dark-yellow-100: oklch(38% 0.090 70);
    --source-dark-yellow-200: oklch(47% 0.120 71);
    --source-dark-yellow-300: oklch(56% 0.150 72);
    --source-dark-yellow-400: oklch(67% 0.170 73);
    --source-dark-yellow-500: oklch(81.6% 0.1580 73.705);
    --source-dark-yellow-600: oklch(86% 0.140 76);
    --source-dark-yellow-700: oklch(90% 0.110 79);
    --source-dark-yellow-800: oklch(94% 0.075 81);
    --source-dark-yellow-900: oklch(97% 0.040 83);
    --source-dark-yellow-950: oklch(99% 0.015 85);
    --source-dark-green-50: oklch(28.7% 0.0609 164.125);
    --source-dark-green-100: oklch(36.6% 0.0813 161.133);
    --source-dark-green-200: oklch(43.6% 0.099 159.742);
    --source-dark-green-300: oklch(50.9% 0.1168 159.093);
    --source-dark-green-400: oklch(61.2% 0.143 158.036);
    --source-dark-green-500: oklch(70% 0.161 157.717);
    --source-dark-green-600: oklch(77.1% 0.1723 158.731);
    --source-dark-green-700: oklch(85.3% 0.1516 161.858);
    --source-dark-green-800: oklch(90.4% 0.1196 163.367);
    --source-dark-green-900: oklch(94.2% 0.0777 164.987);
    --source-dark-green-950: oklch(98% 0.0238 168.069);

    /* Absolute colors */
    --source-white: #fff;
    --source-black: #000;
}
