@import 'tailwindcss';
@import './colors.css';

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --adaptive-background: var(--source-light-background);
    --adaptive-gray-50: var(--source-light-gray-50);
    --adaptive-gray-100: var(--source-light-gray-100);
    --adaptive-gray-200: var(--source-light-gray-200);
    --adaptive-gray-300: var(--source-light-gray-300);
    --adaptive-gray-400: var(--source-light-gray-400);
    --adaptive-gray-500: var(--source-light-gray-500);
    --adaptive-gray-600: var(--source-light-gray-600);
    --adaptive-gray-700: var(--source-light-gray-700);
    --adaptive-gray-800: var(--source-light-gray-800);
    --adaptive-gray-900: var(--source-light-gray-900);
    --adaptive-gray-950: var(--source-light-gray-950);
    --adaptive-gray-opacity-50: var(--source-light-gray-opacity-50);
    --adaptive-gray-opacity-100: var(--source-light-gray-opacity-100);
    --adaptive-gray-opacity-200: var(--source-light-gray-opacity-200);
    --adaptive-gray-opacity-300: var(--source-light-gray-opacity-300);
    --adaptive-gray-opacity-400: var(--source-light-gray-opacity-400);
    --adaptive-gray-opacity-500: var(--source-light-gray-opacity-500);
    --adaptive-gray-opacity-600: var(--source-light-gray-opacity-600);
    --adaptive-gray-opacity-700: var(--source-light-gray-opacity-700);
    --adaptive-gray-opacity-800: var(--source-light-gray-opacity-800);
    --adaptive-gray-opacity-900: var(--source-light-gray-opacity-900);
    --adaptive-gray-opacity-950: var(--source-light-gray-opacity-950);
    --adaptive-blue-50: var(--source-light-blue-50);
    --adaptive-blue-100: var(--source-light-blue-100);
    --adaptive-blue-200: var(--source-light-blue-200);
    --adaptive-blue-300: var(--source-light-blue-300);
    --adaptive-blue-400: var(--source-light-blue-400);
    --adaptive-blue-500: var(--source-light-blue-500);
    --adaptive-blue-600: var(--source-light-blue-600);
    --adaptive-blue-700: var(--source-light-blue-700);
    --adaptive-blue-800: var(--source-light-blue-800);
    --adaptive-blue-900: var(--source-light-blue-900);
    --adaptive-blue-950: var(--source-light-blue-950);
    --adaptive-red-50: var(--source-light-red-50);
    --adaptive-red-100: var(--source-light-red-100);
    --adaptive-red-200: var(--source-light-red-200);
    --adaptive-red-300: var(--source-light-red-300);
    --adaptive-red-400: var(--source-light-red-400);
    --adaptive-red-500: var(--source-light-red-500);
    --adaptive-red-600: var(--source-light-red-600);
    --adaptive-red-700: var(--source-light-red-700);
    --adaptive-red-800: var(--source-light-red-800);
    --adaptive-red-900: var(--source-light-red-900);
    --adaptive-red-950: var(--source-light-red-950);
    --adaptive-yellow-50: var(--source-light-yellow-50);
    --adaptive-yellow-100: var(--source-light-yellow-100);
    --adaptive-yellow-200: var(--source-light-yellow-200);
    --adaptive-yellow-300: var(--source-light-yellow-300);
    --adaptive-yellow-400: var(--source-light-yellow-400);
    --adaptive-yellow-500: var(--source-light-yellow-500);
    --adaptive-yellow-600: var(--source-light-yellow-600);
    --adaptive-yellow-700: var(--source-light-yellow-700);
    --adaptive-yellow-800: var(--source-light-yellow-800);
    --adaptive-yellow-900: var(--source-light-yellow-900);
    --adaptive-yellow-950: var(--source-light-yellow-950);
    --adaptive-green-50: var(--source-light-green-50);
    --adaptive-green-100: var(--source-light-green-100);
    --adaptive-green-200: var(--source-light-green-200);
    --adaptive-green-300: var(--source-light-green-300);
    --adaptive-green-400: var(--source-light-green-400);
    --adaptive-green-500: var(--source-light-green-500);
    --adaptive-green-600: var(--source-light-green-600);
    --adaptive-green-700: var(--source-light-green-700);
    --adaptive-green-800: var(--source-light-green-800);
    --adaptive-green-900: var(--source-light-green-900);
    --adaptive-green-950: var(--source-light-green-950);
    --static-blue-50: var(--source-light-blue-50);
    --static-blue-100: var(--source-light-blue-100);
    --static-blue-200: var(--source-light-blue-200);
    --static-blue-300: var(--source-light-blue-300);
    --static-blue-400: var(--source-light-blue-400);
    --static-blue-500: var(--source-light-blue-500);
    --static-blue-600: var(--source-light-blue-600);
    --static-blue-700: var(--source-light-blue-700);
    --static-blue-800: var(--source-light-blue-800);
    --static-blue-900: var(--source-light-blue-900);
    --static-blue-950: var(--source-light-blue-950);
    --static-red-50: var(--source-light-red-50);
    --static-red-100: var(--source-light-red-100);
    --static-red-200: var(--source-light-red-200);
    --static-red-300: var(--source-light-red-300);
    --static-red-400: var(--source-light-red-400);
    --static-red-500: var(--source-light-red-500);
    --static-red-600: var(--source-light-red-600);
    --static-red-700: var(--source-light-red-700);
    --static-red-800: var(--source-light-red-800);
    --static-red-900: var(--source-light-red-900);
    --static-red-950: var(--source-light-red-950);
    --static-yellow-50: var(--source-light-yellow-50);
    --static-yellow-100: var(--source-light-yellow-100);
    --static-yellow-200: var(--source-light-yellow-200);
    --static-yellow-300: var(--source-light-yellow-300);
    --static-yellow-400: var(--source-light-yellow-400);
    --static-yellow-500: var(--source-light-yellow-500);
    --static-yellow-600: var(--source-light-yellow-600);
    --static-yellow-700: var(--source-light-yellow-700);
    --static-yellow-800: var(--source-light-yellow-800);
    --static-yellow-900: var(--source-light-yellow-900);
    --static-yellow-950: var(--source-light-yellow-950);
    --static-green-50: var(--source-light-green-50);
    --static-green-100: var(--source-light-green-100);
    --static-green-200: var(--source-light-green-200);
    --static-green-300: var(--source-light-green-300);
    --static-green-400: var(--source-light-green-400);
    --static-green-500: var(--source-light-green-500);
    --static-green-600: var(--source-light-green-600);
    --static-green-700: var(--source-light-green-700);
    --static-green-800: var(--source-light-green-800);
    --static-green-900: var(--source-light-green-900);
    --static-green-950: var(--source-light-green-950);

    @variant dark {
        --adaptive-background: var(--source-dark-background);
        --adaptive-gray-50: var(--source-dark-gray-50);
        --adaptive-gray-100: var(--source-dark-gray-100);
        --adaptive-gray-200: var(--source-dark-gray-200);
        --adaptive-gray-300: var(--source-dark-gray-300);
        --adaptive-gray-400: var(--source-dark-gray-400);
        --adaptive-gray-500: var(--source-dark-gray-500);
        --adaptive-gray-600: var(--source-dark-gray-600);
        --adaptive-gray-700: var(--source-dark-gray-700);
        --adaptive-gray-800: var(--source-dark-gray-800);
        --adaptive-gray-900: var(--source-dark-gray-900);
        --adaptive-gray-950: var(--source-dark-gray-950);
        --adaptive-gray-opacity-50: var(--source-dark-gray-opacity-50);
        --adaptive-gray-opacity-100: var(--source-dark-gray-opacity-100);
        --adaptive-gray-opacity-200: var(--source-dark-gray-opacity-200);
        --adaptive-gray-opacity-300: var(--source-dark-gray-opacity-300);
        --adaptive-gray-opacity-400: var(--source-dark-gray-opacity-400);
        --adaptive-gray-opacity-500: var(--source-dark-gray-opacity-500);
        --adaptive-gray-opacity-600: var(--source-dark-gray-opacity-600);
        --adaptive-gray-opacity-700: var(--source-dark-gray-opacity-700);
        --adaptive-gray-opacity-800: var(--source-dark-gray-opacity-800);
        --adaptive-gray-opacity-900: var(--source-dark-gray-opacity-900);
        --adaptive-gray-opacity-950: var(--source-dark-gray-opacity-950);
        --adaptive-blue-50: var(--source-dark-blue-50);
        --adaptive-blue-100: var(--source-dark-blue-100);
        --adaptive-blue-200: var(--source-dark-blue-200);
        --adaptive-blue-300: var(--source-dark-blue-300);
        --adaptive-blue-400: var(--source-dark-blue-400);
        --adaptive-blue-500: var(--source-dark-blue-500);
        --adaptive-blue-600: var(--source-dark-blue-600);
        --adaptive-blue-700: var(--source-dark-blue-700);
        --adaptive-blue-800: var(--source-dark-blue-800);
        --adaptive-blue-900: var(--source-dark-blue-900);
        --adaptive-blue-950: var(--source-dark-blue-950);
        --adaptive-red-50: var(--source-dark-red-50);
        --adaptive-red-100: var(--source-dark-red-100);
        --adaptive-red-200: var(--source-dark-red-200);
        --adaptive-red-300: var(--source-dark-red-300);
        --adaptive-red-400: var(--source-dark-red-400);
        --adaptive-red-500: var(--source-dark-red-500);
        --adaptive-red-600: var(--source-dark-red-600);
        --adaptive-red-700: var(--source-dark-red-700);
        --adaptive-red-800: var(--source-dark-red-800);
        --adaptive-red-900: var(--source-dark-red-900);
        --adaptive-red-950: var(--source-dark-red-950);
        --adaptive-yellow-50: var(--source-dark-yellow-50);
        --adaptive-yellow-100: var(--source-dark-yellow-100);
        --adaptive-yellow-200: var(--source-dark-yellow-200);
        --adaptive-yellow-300: var(--source-dark-yellow-300);
        --adaptive-yellow-400: var(--source-dark-yellow-400);
        --adaptive-yellow-500: var(--source-dark-yellow-500);
        --adaptive-yellow-600: var(--source-dark-yellow-600);
        --adaptive-yellow-700: var(--source-dark-yellow-700);
        --adaptive-yellow-800: var(--source-dark-yellow-800);
        --adaptive-yellow-900: var(--source-dark-yellow-900);
        --adaptive-yellow-950: var(--source-dark-yellow-950);
        --adaptive-green-50: var(--source-dark-green-50);
        --adaptive-green-100: var(--source-dark-green-100);
        --adaptive-green-200: var(--source-dark-green-200);
        --adaptive-green-300: var(--source-dark-green-300);
        --adaptive-green-400: var(--source-dark-green-400);
        --adaptive-green-500: var(--source-dark-green-500);
        --adaptive-green-600: var(--source-dark-green-600);
        --adaptive-green-700: var(--source-dark-green-700);
        --adaptive-green-800: var(--source-dark-green-800);
        --adaptive-green-900: var(--source-dark-green-900);
        --adaptive-green-950: var(--source-dark-green-950);
    }
}

@theme {
    --color-*: initial;
}

@theme inline {
    --color-background: var(--adaptive-background);
    --color-gray-50: var(--adaptive-gray-50);
    --color-gray-100: var(--adaptive-gray-100);
    --color-gray-200: var(--adaptive-gray-200);
    --color-gray-300: var(--adaptive-gray-300);
    --color-gray-400: var(--adaptive-gray-400);
    --color-gray-500: var(--adaptive-gray-500);
    --color-gray-600: var(--adaptive-gray-600);
    --color-gray-700: var(--adaptive-gray-700);
    --color-gray-800: var(--adaptive-gray-800);
    --color-gray-900: var(--adaptive-gray-900);
    --color-gray-950: var(--adaptive-gray-950);
    --color-gray-opacity-50: var(--adaptive-gray-opacity-50);
    --color-gray-opacity-100: var(--adaptive-gray-opacity-100);
    --color-gray-opacity-200: var(--adaptive-gray-opacity-200);
    --color-gray-opacity-300: var(--adaptive-gray-opacity-300);
    --color-gray-opacity-400: var(--adaptive-gray-opacity-400);
    --color-gray-opacity-500: var(--adaptive-gray-opacity-500);
    --color-gray-opacity-600: var(--adaptive-gray-opacity-600);
    --color-gray-opacity-700: var(--adaptive-gray-opacity-700);
    --color-gray-opacity-800: var(--adaptive-gray-opacity-800);
    --color-gray-opacity-900: var(--adaptive-gray-opacity-900);
    --color-gray-opacity-950: var(--adaptive-gray-opacity-950);
    --color-blue-50: var(--adaptive-blue-50);
    --color-blue-100: var(--adaptive-blue-100);
    --color-blue-200: var(--adaptive-blue-200);
    --color-blue-300: var(--adaptive-blue-300);
    --color-blue-400: var(--adaptive-blue-400);
    --color-blue-500: var(--adaptive-blue-500);
    --color-blue-600: var(--adaptive-blue-600);
    --color-blue-700: var(--adaptive-blue-700);
    --color-blue-800: var(--adaptive-blue-800);
    --color-blue-900: var(--adaptive-blue-900);
    --color-blue-950: var(--adaptive-blue-950);
    --color-red-50: var(--adaptive-red-50);
    --color-red-100: var(--adaptive-red-100);
    --color-red-200: var(--adaptive-red-200);
    --color-red-300: var(--adaptive-red-300);
    --color-red-400: var(--adaptive-red-400);
    --color-red-500: var(--adaptive-red-500);
    --color-red-600: var(--adaptive-red-600);
    --color-red-700: var(--adaptive-red-700);
    --color-red-800: var(--adaptive-red-800);
    --color-red-900: var(--adaptive-red-900);
    --color-red-950: var(--adaptive-red-950);
    --color-yellow-50: var(--adaptive-yellow-50);
    --color-yellow-100: var(--adaptive-yellow-100);
    --color-yellow-200: var(--adaptive-yellow-200);
    --color-yellow-300: var(--adaptive-yellow-300);
    --color-yellow-400: var(--adaptive-yellow-400);
    --color-yellow-500: var(--adaptive-yellow-500);
    --color-yellow-600: var(--adaptive-yellow-600);
    --color-yellow-700: var(--adaptive-yellow-700);
    --color-yellow-800: var(--adaptive-yellow-800);
    --color-yellow-900: var(--adaptive-yellow-900);
    --color-yellow-950: var(--adaptive-yellow-950);
    --color-green-50: var(--adaptive-green-50);
    --color-green-100: var(--adaptive-green-100);
    --color-green-200: var(--adaptive-green-200);
    --color-green-300: var(--adaptive-green-300);
    --color-green-400: var(--adaptive-green-400);
    --color-green-500: var(--adaptive-green-500);
    --color-green-600: var(--adaptive-green-600);
    --color-green-700: var(--adaptive-green-700);
    --color-green-800: var(--adaptive-green-800);
    --color-green-900: var(--adaptive-green-900);
    --color-green-950: var(--adaptive-green-950);
    --color-primary-50: var(--adaptive-blue-50);
    --color-primary-100: var(--adaptive-blue-100);
    --color-primary-200: var(--adaptive-blue-200);
    --color-primary-300: var(--adaptive-blue-300);
    --color-primary-400: var(--adaptive-blue-400);
    --color-primary-500: var(--adaptive-blue-500);
    --color-primary-600: var(--adaptive-blue-600);
    --color-primary-700: var(--adaptive-blue-700);
    --color-primary-800: var(--adaptive-blue-800);
    --color-primary-900: var(--adaptive-blue-900);
    --color-primary-950: var(--adaptive-blue-950);
    --color-static-blue-50: var(--static-blue-50);
    --color-static-blue-100: var(--static-blue-100);
    --color-static-blue-200: var(--static-blue-200);
    --color-static-blue-300: var(--static-blue-300);
    --color-static-blue-400: var(--static-blue-400);
    --color-static-blue-500: var(--static-blue-500);
    --color-static-blue-600: var(--static-blue-600);
    --color-static-blue-700: var(--static-blue-700);
    --color-static-blue-800: var(--static-blue-800);
    --color-static-blue-900: var(--static-blue-900);
    --color-static-blue-950: var(--static-blue-950);
    --color-static-red-50: var(--static-red-50);
    --color-static-red-100: var(--static-red-100);
    --color-static-red-200: var(--static-red-200);
    --color-static-red-300: var(--static-red-300);
    --color-static-red-400: var(--static-red-400);
    --color-static-red-500: var(--static-red-500);
    --color-static-red-600: var(--static-red-600);
    --color-static-red-700: var(--static-red-700);
    --color-static-red-800: var(--static-red-800);
    --color-static-red-900: var(--static-red-900);
    --color-static-red-950: var(--static-red-950);
    --color-static-yellow-50: var(--static-yellow-50);
    --color-static-yellow-100: var(--static-yellow-100);
    --color-static-yellow-200: var(--static-yellow-200);
    --color-static-yellow-300: var(--static-yellow-300);
    --color-static-yellow-400: var(--static-yellow-400);
    --color-static-yellow-500: var(--static-yellow-500);
    --color-static-yellow-600: var(--static-yellow-600);
    --color-static-yellow-700: var(--static-yellow-700);
    --color-static-yellow-800: var(--static-yellow-800);
    --color-static-yellow-900: var(--static-yellow-900);
    --color-static-yellow-950: var(--static-yellow-950);
    --color-static-green-50: var(--static-green-50);
    --color-static-green-100: var(--static-green-100);
    --color-static-green-200: var(--static-green-200);
    --color-static-green-300: var(--static-green-300);
    --color-static-green-400: var(--static-green-400);
    --color-static-green-500: var(--static-green-500);
    --color-static-green-600: var(--static-green-600);
    --color-static-green-700: var(--static-green-700);
    --color-static-green-800: var(--static-green-800);
    --color-static-green-900: var(--static-green-900);
    --color-static-green-950: var(--static-green-950);
    --color-static-primary-50: var(--static-blue-50);
    --color-static-primary-100: var(--static-blue-100);
    --color-static-primary-200: var(--static-blue-200);
    --color-static-primary-300: var(--static-blue-300);
    --color-static-primary-400: var(--static-blue-400);
    --color-static-primary-500: var(--static-blue-500);
    --color-static-primary-600: var(--static-blue-600);
    --color-static-primary-700: var(--static-blue-700);
    --color-static-primary-800: var(--static-blue-800);
    --color-static-primary-900: var(--static-blue-900);
    --color-static-primary-950: var(--static-blue-950);
    --color-white: var(--source-white);
    --color-black: var(--source-black);
}
